%h1{:style => "text-align: center;"}
  TIC-TAC-TOE
  %br/
  =link_to "Start another game", new_match_path
%div.game-container
  %div.row1
    %div.square#1-1
      1-1
      %div.placement#oneone
        = @match.moves.where(:value => "1-1").present? ? @match.moves.where(:value => "1-1").first.player : nil
    %div.square#1-2
      1-2
      %div.placement#onetwo
        = @match.moves.where(:value => "1-2").present? ? @match.moves.where(:value => "1-2").first.player : nil
    %div.square#1-3
      1-3
      %div.placement#onethree
        = @match.moves.where(:value => "1-3").present? ? @match.moves.where(:value => "1-3").first.player : nil
  %div.row2
    %div.square#2-1
      2-1
      %div.placement#twoone
        = @match.moves.where(:value => "2-1").present? ? @match.moves.where(:value => "2-1").first.player : nil
    %div.square#2-2
      2-2
      %div.placement#twotwo
        = @match.moves.where(:value => "2-2").present? ? @match.moves.where(:value => "2-2").first.player : nil
    %div.square#2-3
      2-3
      %div.placement#twothree
        = @match.moves.where(:value => "2-3").present? ? @match.moves.where(:value => "2-3").first.player : nil
  %div.row3
    %div.square#3-1
      3-1
      %div.placement#threeone
        = @match.moves.where(:value => "3-1").present? ? @match.moves.where(:value => "3-1").first.player : nil
    %div.square#3-2
      3-2
      %div.placement#threetwo
        = @match.moves.where(:value => "3-2").present? ? @match.moves.where(:value => "3-2").first.player : nil
    %div.square#3-3
      3-3
      %div.placement#threethree
        = @match.moves.where(:value => "3-3").present? ? @match.moves.where(:value => "3-3").first.player : nil
%div#match_id= @match.id